Repository pappasam/jedi-language-server: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, toml-sort, pylint, mypy

.pre-commit-config.yaml:

fail_fast: true
repos:
  - repo: local
    hooks:
    - id: black
      name: black
      entry: poetry run black --check --diff
      language: system
      types: [python]
  - repo: local
    hooks:
    - id: isort
      name: isort
      entry: poetry run isort --check-only
      language: system
      types: [python]
  - repo: local
    hooks:
    - id: toml-sort
      name: toml-sort
      entry: poetry run toml-sort --check
      language: system
      types: [toml]
  - repo: local
    hooks:
    - id: pylint
      name: PyLint
      entry: poetry run pylint
      language: system
      types: [python]
  - repo: local
    hooks:
    - id: mypy
      name: Mypy
      entry: poetry run mypy
      language: system
      types: [python]
      exclude: ^tests/

typechecking
  jedi_language_server/jedi_utils.py
  jedi_language_server/text_edit_utils.py
Due: black, isort, pylint, mypy

lsprotocol 2022.0.0a6
  poetry.lock
  pyproject.toml
Due: toml-sort

bumps
  poetry.lock
  pyproject.toml
Due: toml-sort

calendar versioning is not semantic versioning
  poetry.lock
  pyproject.toml
Due: toml-sort

bump again
  poetry.lock
  pyproject.toml
Due: toml-sort

Use InterpreterEnvironment
  jedi_language_server/jedi_utils.py
Due: black, isort, pylint, mypy

poetry update
  poetry.lock
Due: none

Disable jls-powered diagnostics by default
  README.md
  jedi_language_server/initialization_options.py
Due: black, isort, pylint, mypy

Bump version, update changelog
  CHANGELOG.md
  pyproject.toml
Due: toml-sort

lsprotocol now exposes types
  mypy.ini
Due: none

pygls 1.0.0
  jedi_language_server/__init__.py
  jedi_language_server/cli.py
  jedi_language_server/server.py
  poetry.lock
  pyproject.toml
Due: black, isort, toml-sort, pylint, mypy

Fix #241
  jedi_language_server/jedi_utils.py
  jedi_language_server/server.py
Due: black, isort, pylint, mypy

Reformat diagnostic code, minor bug fixes
  jedi_language_server/jedi_utils.py
  jedi_language_server/server.py
Due: black, isort, pylint, mypy

Skip broken tests (for now). Fix these in future task
  tests/lsp_tests/test_diagnostics.py
Due: black, isort, pylint

Diagnostics now enabled by default
  jedi_language_server/initialization_options.py
Due: black, isort, pylint, mypy

Poetry update, update changelog
  CHANGELOG.md
  poetry.lock
  pyproject.toml
Due: toml-sort

Update readme
  README.md
Due: none

Props are now children of classes, not methods where defined
  CHANGELOG.md
  jedi_language_server/jedi_utils.py
  tests/lsp_tests/test_document_symbol.py
Due: black, isort, pylint, mypy

Update readme to say "additional diagnostics"
  README.md
Due: none

Migrate to `python-lsp-jsonrpc`
  poetry.lock
  pyproject.toml
  tests/lsp_test_client/session.py
Due: black, isort, toml-sort, pylint

don't install readme to top-level site-packages
  pyproject.toml
Due: toml-sort

state purpose
  README.md
Due: none

ready to debug
  .pylintrc
  jedi_language_server/constants.py
  jedi_language_server/jedi_utils.py
  jedi_language_server/server.py
  tests/lsp_test_client/session.py
  tests/lsp_tests/test_semantic_tokens.py
  tests/test_data/semantic_tokens/semantic_tokens_test1.py
  tests/test_data/semantic_tokens/semantic_tokens_test2.py
Due: black, isort, pylint, mypy

use hasattr(), node position should be a Position()
  jedi_language_server/jedi_utils.py
Due: black, isort, pylint, mypy

refactor code
  jedi_language_server/jedi_utils.py
Due: black, isort, pylint, mypy

don't rely on create_name
  jedi_language_server/server.py
Due: black, isort, pylint, mypy

prefer python 3.8 code
  jedi_language_server/constants.py
Due: black, isort, pylint, mypy

not exactly sure what I'm doing here, WIP
  jedi_language_server/jedi_utils.py
Due: black, isort, pylint, mypy

pygls 1.0.1, stricter typing
  jedi_language_server/initialization_options.py
  jedi_language_server/jedi_utils.py
  mypy.ini
  poetry.lock
  pyproject.toml
Due: black, isort, toml-sort, pylint, mypy

avoid docformatter 1.5.1
  poetry.lock
  pyproject.toml
Due: toml-sort

ensure any debounced functions in the timed thread have access to the asyncio event loop
  jedi_language_server/jedi_utils.py
Due: black, isort, pylint, mypy

Poetry update
  poetry.lock
Due: none

isort
  jedi_language_server/server.py
Due: black, isort, pylint, mypy

fix visitor, correct TODO
  jedi_language_server/jedi_utils.py
Due: black, isort, pylint, mypy

start visitor from scratch
  jedi_language_server/jedi_utils.py
Due: black, isort, pylint, mypy

correct ranges
  jedi_language_server/server.py
Due: black, isort, pylint, mypy

Upgrade to Pydantic V2
  jedi_language_server/initialization_options.py
  pyproject.toml
  tests/lsp_tests/test_init_options.py
Due: black, isort, toml-sort, pylint, mypy

`poetry lock --no-update`
  poetry.lock
Due: none

isort
  jedi_language_server/initialization_options.py
Due: black, isort, pylint, mypy

drop support for python 3.7, update dependencies
  .github/workflows/testing.yaml
  .pylintrc
  README.md
  jedi_language_server/initialization_options.py
  jedi_language_server/jedi_utils.py
  jedi_language_server/text_edit_utils.py
  poetry.lock
  pyproject.toml
  tests/lsp_tests/test_init_options.py
Due: black, isort, toml-sort, pylint, mypy
