Repository pappasam/jedi-language-server: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, toml-sort, pylint, mypy

black:
  name: black
  entry: poetry run black --check --diff
  language: system

isort:
  name: isort
  entry: poetry run isort --check-only
  language: system

toml-sort:
  name: toml-sort
  entry: poetry run toml-sort --check
  language: system

pylint:
  name: PyLint
  entry: poetry run pylint
  language: system

mypy:
  name: Mypy
  entry: poetry run mypy
  language: system

Update changelog, prepare release
  CHANGELOG.md
  pyproject.toml
Due: toml-sort

Provide user options (#10)
  CHANGELOG.md
  README.md
  jedi_language_server/jedi_utils.py
  jedi_language_server/pygls_utils.py
  jedi_language_server/server.py
  jedi_language_server/type_map.py
  mypy.ini
  poetry.lock
  pyproject.toml
Due: black, isort, toml-sort, pylint, mypy

lookup_feature_id in __init__
  CHANGELOG.md
  jedi_language_server/server.py
  pyproject.toml
  tests/test_cli.py
Due: black, isort, toml-sort, pylint, mypy

Respond to `jedi.enabled` configuration setting
  CHANGELOG.md
  jedi_language_server/server.py
  pyproject.toml
Due: black, isort, toml-sort, pylint, mypy

Update README to reflect current state
  README.md
Due: none

Enable diagnostics
  CHANGELOG.md
  README.md
  jedi_language_server/jedi_utils.py
  jedi_language_server/server.py
  pyproject.toml
Due: black, isort, toml-sort, pylint, mypy

Enable diagnostics (#11)
  CHANGELOG.md
  README.md
  jedi_language_server/jedi_utils.py
  jedi_language_server/server.py
  pyproject.toml
Due: black, isort, toml-sort, pylint, mypy

Support signatureHelp
  CHANGELOG.md
  README.md
  jedi_language_server/pygls_utils.py
  jedi_language_server/server.py
  pyproject.toml
Due: black, isort, toml-sort, pylint, mypy

Support signatureHelp (#12)
  CHANGELOG.md
  README.md
  jedi_language_server/pygls_utils.py
  jedi_language_server/server.py
  pyproject.toml
Due: black, isort, toml-sort, pylint, mypy

Support textDocument/documentHighlight
  CHANGELOG.md
  README.md
  jedi_language_server/jedi_utils.py
  jedi_language_server/server.py
Due: black, isort, pylint, mypy

Support textDocument/documentHighlight (#13)
  CHANGELOG.md
  README.md
  jedi_language_server/jedi_utils.py
  jedi_language_server/server.py
Due: black, isort, pylint, mypy

Bump version number in pyproject.toml
  pyproject.toml
Due: toml-sort

Ignore ".venv" for workspace searches
  CHANGELOG.md
  jedi_language_server/jedi_utils.py
  pyproject.toml
Due: black, isort, toml-sort, pylint, mypy

Optimize highlight function for speed
  CHANGELOG.md
  jedi_language_server/jedi_utils.py
  jedi_language_server/server.py
  pyproject.toml
Due: black, isort, toml-sort, pylint, mypy

Fix "coc.nvim" link in readme
  README.md
Due: none

Better documentSymbol support
  jedi_language_server/jedi_utils.py
  jedi_language_server/server.py
Due: black, isort, pylint, mypy

Update changelog hierarchical symbol support
  CHANGELOG.md
  jedi_language_server/server.py
  pyproject.toml
Due: black, isort, toml-sort, pylint, mypy

Document symbol update (#17)
  CHANGELOG.md
  jedi_language_server/jedi_utils.py
  jedi_language_server/server.py
  pyproject.toml
Due: black, isort, toml-sort, pylint, mypy

Add link to pygls
  README.md
Due: none

Correctly handle static capabilities
  CHANGELOG.md
  README.md
  jedi_language_server/pygls_utils.py
  jedi_language_server/server.py
Due: black, isort, pylint, mypy

Correctly handle static capabilities (#18)
  CHANGELOG.md
  README.md
  jedi_language_server/pygls_utils.py
  jedi_language_server/server.py
Due: black, isort, pylint, mypy

Bump version to 0.12.0
  pyproject.toml
Due: toml-sort

Add changelog line giving credit where it's due
  CHANGELOG.md
Due: none

Remove `)` from triggerCharacters on signatureHelp
  CHANGELOG.md
  jedi_language_server/server.py
  pyproject.toml
Due: black, isort, toml-sort, pylint, mypy

jedi params sort first in completions
  CHANGELOG.md
  jedi_language_server/jedi_utils.py
  jedi_language_server/server.py
  pyproject.toml
Due: black, isort, toml-sort, pylint, mypy

Removed initialization message from server
  CHANGELOG.md
  jedi_language_server/server.py
  pyproject.toml
Due: black, isort, toml-sort, pylint, mypy

Initialization is now static / uses initializationOptions
  CHANGELOG.md
  README.md
  jedi_language_server/pygls_utils.py
  jedi_language_server/server.py
  pyproject.toml
Due: black, isort, toml-sort, pylint, mypy

Fix readme typos
  README.md
Due: none

Attribute access on InitializeParams uses rgetattr
  CHANGELOG.md
  jedi_language_server/server.py
  pyproject.toml
Due: black, isort, toml-sort, pylint, mypy

Document symbol range selection made more accurate
  CHANGELOG.md
  jedi_language_server/jedi_utils.py
  pyproject.toml
Due: black, isort, toml-sort, pylint, mypy

Add .vim folder to gitignore
  .gitignore
Due: none

current_word_range function added to pygls_utils
  jedi_language_server/pygls_utils.py
Due: black, isort, pylint, mypy

Ensure that preferred parameters end in "="
  jedi_language_server/jedi_utils.py
Due: black, isort, pylint, mypy

Hover now returns MarkupContent + Range
  jedi_language_server/server.py
Due: black, isort, pylint, mypy

Completion item documentation is in PlainText
  jedi_language_server/server.py
Due: black, isort, pylint, mypy

Update changelog + bump version
  CHANGELOG.md
  pyproject.toml
Due: toml-sort

Remove coc-diagnostic mention in readme
  README.md
Due: none

Save initializeParams in storage container
  jedi_language_server/initialize_params_parser.py
  jedi_language_server/server.py
Due: black, isort, pylint, mypy

Set MarkupKind based on client configuration
  jedi_language_server/initialize_params_parser.py
  jedi_language_server/server.py
Due: black, isort, pylint, mypy

Update readme + bump version
  README.md
  pyproject.toml
Due: toml-sort

Path conditions:
  black: any of: \.py$
  isort: any of: \.py$
  toml-sort: any of: \.toml$
  pylint: any of: \.py$
  mypy: any of: \.py$, but not: ^tests/
