Repository pappasam/jedi-language-server: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, toml-sort, pylint, mypy

black:
  name: black
  entry: poetry run black --check --diff
  language: system

isort:
  name: isort
  entry: poetry run isort --check-only
  language: system

toml-sort:
  name: toml-sort
  entry: poetry run toml-sort --check
  language: system

pylint:
  name: PyLint
  entry: poetry run pylint
  language: system

mypy:
  name: Mypy
  entry: poetry run mypy
  language: system

Fix module_path error
  jedi_language_server/server.py
Due: black, isort, pylint, mypy

Update lockfile
  poetry.lock
Due: none

Update readme / changelog, bump version
  CHANGELOG.md
  README.md
  pyproject.toml
Due: toml-sort

Add Language Server test helpers
  .gitignore
  poetry.lock
  pyproject.toml
  tests/__init__.py
  tests/lsp/__init__.py
  tests/lsp/defaults.py
  tests/lsp/session.py
Due: black, isort, toml-sort, pylint

Completion test sample
  tests/test_completion.py
  tests/test_data/completion/completion_test1.py
Due: black, isort, pylint

Add coverage
  .coveragerc
  .gitignore
  poetry.lock
  pyproject.toml
Due: toml-sort

Add more tests
  tests/__init__.py
  tests/lsp_test_client/__init__.py
  tests/lsp_test_client/defaults.py
  tests/lsp_test_client/session.py
  tests/lsp_test_client/utils.py
  tests/lsp_tests/test_completion.py
  tests/lsp_tests/test_rename.py
  tests/test_data/completion/completion_test1.py
  tests/test_data/refactoring/rename_test1.py
Due: black, isort, pylint

Simplify usage.
  tests/lsp_test_client/__init__.py
  tests/lsp_test_client/utils.py
  tests/lsp_tests/test_completion.py
  tests/lsp_tests/test_rename.py
Due: black, isort, pylint

Update test code to pass pylint
  tests/test_initialize_params_parser.py
Due: black, isort, pylint

Add docstring_to_markdown as dependency
  mypy.ini
  poetry.lock
  pyproject.toml
Due: toml-sort

Convert docstring: completion and hover
  jedi_language_server/jedi_utils.py
  jedi_language_server/server.py
Due: black, isort, pylint, mypy

Latest docstring-to-markdown is publicly "typed"
  mypy.ini
  poetry.lock
  pyproject.toml
Due: toml-sort

Add clearer docstring + general exception handling
  jedi_language_server/jedi_utils.py
Due: black, isort, pylint, mypy

Update mypy, bump project classifier to "beta"
  poetry.lock
  pyproject.toml
Due: toml-sort

Add isort and docformatter checks to tox
  pyproject.toml
  tests/test_cli.py
Due: black, isort, toml-sort, pylint

Update precommit hooks with docformatter
  .pre-commit-config.yaml
Due: none

Bump version / changelog
  CHANGELOG.md
  pyproject.toml
Due: toml-sort

Changelog: 0.24 -> 0.25
  CHANGELOG.md
Due: none

Fix the docstrings conversion
  jedi_language_server/jedi_utils.py
Due: black, isort, pylint, mypy

_choose_markup converts type to MarkupKind
  CHANGELOG.md
  jedi_language_server/server.py
  pyproject.toml
Due: black, isort, toml-sort, pylint, mypy

Update version / changelog
  CHANGELOG.md
  pyproject.toml
Due: toml-sort

Relax version constraint for docstring-to-markdown
  CHANGELOG.md
  poetry.lock
  pyproject.toml
Due: toml-sort

poetry.lock with correct content hash
  poetry.lock
Due: none

Test files now pass linter and run for py36,37,&38
  .pre-commit-config.yaml
  .pylintrc
  Makefile
  pyproject.toml
  tests/__init__.py
  tests/lsp_test_client/__init__.py
  tests/lsp_test_client/defaults.py
  tests/lsp_test_client/session.py
  tests/lsp_test_client/utils.py
  tests/lsp_tests/test_completion.py
  tests/lsp_tests/test_rename.py
  tests/test_data/completion/completion_test1.py
  tests/test_data/refactoring/rename_test1.py
Due: black, isort, toml-sort, pylint

Add property type map
  jedi_language_server/type_map.py
Due: black, isort, pylint, mypy

Update jedi_language_server/type_map.py
  jedi_language_server/type_map.py
Due: black, isort, pylint, mypy

Fix line length to never be below 0
  jedi_language_server/jedi_utils.py
Due: black, isort, pylint, mypy

Add downloads shield to readme
  README.md
Due: none

Fix handling of completionItem/resolve
  CHANGELOG.md
  jedi_language_server/server.py
  tests/lsp_test_client/session.py
  tests/lsp_tests/test_completion.py
Due: black, isort, pylint, mypy

add docformatter to dev dependencies
  poetry.lock
  pyproject.toml
Due: toml-sort

fix typo
  jedi_language_server/server.py
Due: black, isort, pylint, mypy

Fix eager resolution of completions
  CHANGELOG.md
  jedi_language_server/jedi_utils.py
  tests/lsp_test_client/session.py
  tests/lsp_tests/test_completion.py
  tests/lsp_tests/test_rename.py
Due: black, isort, pylint, mypy

Fix renaming a variable at the start of a line
  CHANGELOG.md
  jedi_language_server/text_edit_utils.py
  tests/lsp_tests/test_rename.py
  tests/test_data/refactoring/rename_test2.py
Due: black, isort, pylint, mypy

Initialize ls_session for test_lsp_rename_function
  tests/lsp_tests/test_rename.py
Due: black, isort, pylint

Update changelog, poetry update, test 3.9
  CHANGELOG.md
  poetry.lock
  pyproject.toml
Due: toml-sort

Add `Fixed` to changelog
  CHANGELOG.md
Due: none

Fixes renaming edge case where lines at end get KeyError
  jedi_language_server/text_edit_utils.py
  tests/lsp_tests/test_rename.py
  tests/test_data/refactoring/rename_test3.py
Due: black, isort, pylint, mypy

poetry update
  poetry.lock
Due: none

Path conditions:
  black: any of: \.py$
  isort: any of: \.py$
  toml-sort: any of: \.toml$
  pylint: any of: \.py$
  mypy: any of: \.py$, but not: ^tests/
