Repository pappasam/jedi-language-server: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, toml-sort, pylint, mypy

.pre-commit-config.yaml:

fail_fast: true
repos:
  - repo: local
    hooks:
    - id: black
      name: black
      entry: poetry run black --check --diff
      language: system
      types: [python]
  - repo: local
    hooks:
    - id: isort
      name: isort
      entry: poetry run isort --check-only
      language: system
      types: [python]
  - repo: local
    hooks:
    - id: toml-sort
      name: toml-sort
      entry: poetry run toml-sort --check
      language: system
      types: [toml]
  - repo: local
    hooks:
    - id: pylint
      name: PyLint
      entry: poetry run pylint
      language: system
      types: [python]
  - repo: local
    hooks:
    - id: mypy
      name: Mypy
      entry: poetry run mypy
      language: system
      types: [python]
      exclude: ^tests/

Jedi >= 0.17.2
  CHANGELOG.md
  pyproject.toml
Due: toml-sort

Fix symbol and completion types for params
  jedi_language_server/type_map.py
Due: black, isort, pylint, mypy

Resolve SignatureHelp errors for nvim-lsp
  CHANGELOG.md
  jedi_language_server/pygls_type_overrides.py
  jedi_language_server/server.py
  jedi_language_server/text_edit_utils.py
  poetry.lock
  pyproject.toml
Due: black, isort, toml-sort, pylint, mypy

Fix pygls version constraint
  CHANGELOG.md
  poetry.lock
  pyproject.toml
Due: toml-sort

Extremely dirty PoC
  jedi_language_server/jedi_utils.py
  jedi_language_server/server.py
Due: black, isort, pylint, mypy

Add missing sys_path
  jedi_language_server/jedi_utils.py
Due: black, isort, pylint, mypy

Fix WorkspaceSymbol usage / performance
  CHANGELOG.md
  jedi_language_server/jedi_utils.py
  jedi_language_server/server.py
  pyproject.toml
Due: black, isort, toml-sort, pylint, mypy

Update formatters / linters
  jedi_language_server/initialize_params_parser.py
  jedi_language_server/jedi_utils.py
  jedi_language_server/server.py
  jedi_language_server/text_edit_utils.py
  poetry.lock
  pyproject.toml
Due: black, isort, toml-sort, pylint, mypy

Normalize position difference between lsp and jedi
  jedi_language_server/jedi_utils.py
  jedi_language_server/server.py
Due: black, isort, pylint, mypy

Pin jedi version.
  poetry.lock
  pyproject.toml
Due: toml-sort

Bump version and changelog
  CHANGELOG.md
  pyproject.toml
Due: toml-sort

Update documentSymbol query
  jedi_language_server/jedi_utils.py
  jedi_language_server/server.py
Due: black, isort, pylint, mypy

Bump version / update changelog
  CHANGELOG.md
  pyproject.toml
Due: toml-sort

documentSymbol id's methods/properties somewhat correctly
  jedi_language_server/jedi_utils.py
Due: black, isort, pylint, mypy

Replace _IGNORE_FOLDERS with self-managed constant
  jedi_language_server/constants.py
  jedi_language_server/server.py
Due: black, isort, pylint, mypy

Bump version / changelog
  CHANGELOG.md
  pyproject.toml
Due: toml-sort

Add initializationOptions_jediSettings_extraPaths
  jedi_language_server/initialize_params_parser.py
Due: black, isort, pylint, mypy

Add support for extraPaths
  jedi_language_server/jedi_utils.py
  jedi_language_server/server.py
Due: black, isort, pylint, mypy

Finalize interface, bump version
  README.md
  jedi_language_server/initialize_params_parser.py
  jedi_language_server/server.py
  pyproject.toml
Due: black, isort, toml-sort, pylint, mypy

Update changelog, fix docstring for project
  CHANGELOG.md
  jedi_language_server/server.py
Due: black, isort, pylint, mypy

Add thank you to Karl
  CHANGELOG.md
Due: none

ALE mentioned in documentation.
  README.md
Due: none

Add Neovim native client to docs
  README.md
Due: none

Support only jedi 0.18.0
  jedi_language_server/jedi_utils.py
  jedi_language_server/text_edit_utils.py
  poetry.lock
  pyproject.toml
Due: black, isort, toml-sort, pylint, mypy

Bump version, update changelog
  CHANGELOG.md
  pyproject.toml
Due: toml-sort

Add vim-lsp client to docs
  README.md
Due: none

Implement completionItem/resolve
  README.md
  jedi_language_server/initialize_params_parser.py
  jedi_language_server/jedi_utils.py
  jedi_language_server/server.py
Due: black, isort, pylint, mypy

Fix: pygls params turned out to be namedtuples
  jedi_language_server/server.py
Due: black, isort, pylint, mypy

Turns out that properties are renamed only one way
  jedi_language_server/server.py
Due: black, isort, pylint, mypy

Update changelog + poetry.lock
  CHANGELOG.md
  poetry.lock
  pyproject.toml
Due: toml-sort

Support workspace/didChangeConfiguration
  jedi_language_server/server.py
Due: black, isort, pylint, mypy

Bump poetry.lock
  poetry.lock
Due: none

Add case insensitive completion jedi setting
  jedi_language_server/initialize_params_parser.py
  jedi_language_server/jedi_utils.py
Due: black, isort, pylint, mypy

Add .vscode directory to git ignore
  .gitignore
Due: none

Add `detail` to symbol information
  jedi_language_server/jedi_utils.py
Due: black, isort, pylint, mypy

Hardcode VersionedTextDocumentIdentifier's version
  jedi_language_server/text_edit_utils.py
Due: black, isort, pylint, mypy

code_action: catch AttributeError and IndexError
  jedi_language_server/server.py
Due: black, isort, pylint, mypy

Add tests for initialize params parser
  tests/test_initialize_params_parser.py
Due: black, isort, pylint

More tests
  .gitignore
  tests/test_initialize_params_parser.py
Due: black, isort, pylint
