Repository pappasam/jedi-language-server: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, toml-sort, pylint, mypy

.pre-commit-config.yaml:

fail_fast: true
repos:
  - repo: local
    hooks:
    - id: black
      name: black
      entry: poetry run black --check --diff
      language: system
      types: [python]
  - repo: local
    hooks:
    - id: isort
      name: isort
      entry: poetry run isort --check-only
      language: system
      types: [python]
  - repo: local
    hooks:
    - id: toml-sort
      name: toml-sort
      entry: poetry run toml-sort --check
      language: system
      types: [toml]
  - repo: local
    hooks:
    - id: pylint
      name: PyLint
      entry: poetry run pylint
      language: system
      types: [python]
  - repo: local
    hooks:
    - id: mypy
      name: Mypy
      entry: poetry run mypy
      language: system
      types: [python]
      exclude: ^tests/

poetry update, fix new linting errors, coverage runs on ubuntu
  .github/workflows/testing.yaml
  poetry.lock
  tests/lsp_tests/test_semantic_tokens.py
Due: black, isort, pylint

Bump version, update changelog
  CHANGELOG.md
  pyproject.toml
Due: toml-sort

coverage: replace pytest-cov with slipcover
  .github/workflows/testing.yaml
  noxfile.py
  poetry.lock
  pyproject.toml
Due: black, isort, toml-sort, pylint, mypy

hotfix: disable semantic tokens by default, make release
  CHANGELOG.md
  README.md
  jedi_language_server/initialization_options.py
  poetry.lock
  pyproject.toml
Due: black, isort, toml-sort, pylint, mypy

Add lsp-bridge and lspce in Emacs integration.
  README.md
Due: none

update mypy configuration
  pyproject.toml
Due: toml-sort

fix mis-initialization
  tests/lsp_tests/test_references.py
Due: black, isort, pylint

modernize pyproject.toml
  poetry.lock
  pyproject.toml
Due: toml-sort

partial type annotations on unit tests
  tests/lsp_tests/test_definition.py
  tests/lsp_tests/test_diagnostics.py
  tests/lsp_tests/test_highlighting.py
  tests/lsp_tests/test_hover.py
  tests/lsp_tests/test_refactoring.py
  tests/lsp_tests/test_references.py
  tests/lsp_tests/test_semantic_tokens.py
  tests/lsp_tests/test_signature.py
Due: black, isort, pylint

fix coverage report
  .coveragerc
  noxfile.py
Due: black, isort, pylint, mypy

feat get extra paths from pyright config
  jedi_language_server/server.py
Due: black, isort, pylint, mypy

pygls 2.0.0a2
  jedi_language_server/jedi_utils.py
  jedi_language_server/notebook_utils.py
  jedi_language_server/server.py
  poetry.lock
  pyproject.toml
  tests/lsp_tests/test_diagnostics.py
  tests/lsp_tests/test_signature.py
Due: black, isort, toml-sort, pylint, mypy

ruff understands project.requires-python
  pyproject.toml
Due: toml-sort

pygls 2.0.0a3
  jedi_language_server/server.py
  poetry.lock
  pyproject.toml
Due: black, isort, toml-sort, pylint, mypy

rearrange pyproject.toml
  pyproject.toml
Due: toml-sort

PEP735 style dependency groups
  poetry.lock
  pyproject.toml
Due: toml-sort

pygls 2.0.0a5
  poetry.lock
  pyproject.toml
Due: toml-sort

pygls 2.0.0a6
  poetry.lock
  pyproject.toml
Due: toml-sort

pygls 2.0.0a4
  poetry.lock
  pyproject.toml
Due: toml-sort

pygls 2.0.0
  poetry.lock
  pyproject.toml
Due: toml-sort

poetry update
  jedi_language_server/jedi_utils.py
  jedi_language_server/notebook_utils.py
  poetry.lock
Due: black, isort, pylint, mypy

prep release 0.46.0
  .github/workflows/release.yaml
  .github/workflows/testing.yaml
  CHANGELOG.md
  poetry.lock
  pyproject.toml
Due: toml-sort

dev:slipcover now installs on 3.14
  poetry.lock
  pyproject.toml
Due: toml-sort

try bringing setup-python back to v@5
  .github/workflows/testing.yaml
Due: none

Revert "try bringing setup-python back to v@5"
  .github/workflows/testing.yaml
Due: none

tests: increase wait time to receivre notifications for diagnostic tests
  tests/lsp_tests/test_diagnostics.py
Due: black, isort, pylint

astral: change to uv and ty
  .github/workflows/release.yaml
  .github/workflows/testing.yaml
  .pre-commit-config.yaml
  Makefile
  README.md
  jedi_language_server/initialization_options.py
  jedi_language_server/jedi_utils.py
  jedi_language_server/notebook_utils.py
  noxfile.py
  poetry.lock
  pyproject.toml
  uv.lock
Due: black, isort, toml-sort, pylint, mypy

format with ruff
  jedi_language_server/notebook_utils.py
Due: black, isort, pylint, mypy

readme: add note pointing users to Zuban
  README.md
Due: none

Fix issue #300: Language server crashes when using rtx 3 (documentation)
  feature_300.py
Due: black, isort, pylint, mypy

bump jedi to v0.20.0
  pyproject.toml
  uv.lock
Due: toml-sort

uv sync --upgrade
  uv.lock
Due: none

Bump version 0.47.0
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: toml-sort

Bump gha versions
  .github/workflows/release.yaml
  .github/workflows/testing.yaml
Due: none

Remove support for EOL 3.9
  CHANGELOG.md
  README.md
  pyproject.toml
Due: toml-sort

update changelog
  CHANGELOG.md
Due: none
