Repository pappasam/jedi-language-server: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, toml-sort, pylint, mypy

.pre-commit-config.yaml:

fail_fast: true
repos:
  - repo: local
    hooks:
    - id: black
      name: black
      entry: poetry run black --check --diff
      language: system
      types: [python]
  - repo: local
    hooks:
    - id: isort
      name: isort
      entry: poetry run isort --check-only
      language: system
      types: [python]
  - repo: local
    hooks:
    - id: toml-sort
      name: toml-sort
      entry: poetry run toml-sort --check
      language: system
      types: [toml]
  - repo: local
    hooks:
    - id: pylint
      name: PyLint
      entry: poetry run pylint
      language: system
      types: [python]
  - repo: local
    hooks:
    - id: mypy
      name: Mypy
      entry: poetry run mypy
      language: system
      types: [python]
      exclude: ^tests/

Handle null rootUri
  jedi_language_server/jedi_utils.py
  jedi_language_server/server.py
Due: black, isort, pylint, mypy

Tolerate invalid InitializationOptions, but log for user
  jedi_language_server/server.py
Due: black, isort, pylint, mypy

poetry update
  poetry.lock
Due: none

Bump version, update changelog
  CHANGELOG.md
  pyproject.toml
Due: toml-sort

Restrict the events on which pypi publish attempts are made
  .github/workflows/release.yaml
Due: none

Remove redundant InitializationOptions
  jedi_language_server/server.py
Due: black, isort, pylint, mypy

Fix edge case for code actions
  jedi_language_server/text_edit_utils.py
  tests/lsp_tests/test_refactoring.py
  tests/test_data/refactoring/code_action_test2.py
Due: black, isort, pylint, mypy

Only return code actions with syntactically valid Python
  jedi_language_server/text_edit_utils.py
  tests/lsp_tests/test_refactoring.py
Due: black, isort, pylint, mypy

TextEdit tidying
  jedi_language_server/text_edit_utils.py
Due: black, isort, pylint, mypy

add test case
  tests/lsp_tests/test_refactoring.py
Due: black, isort, pylint

Ergonomic updates to Makefile
  Makefile
Due: none

Simplify mapping from file offset to Position
  jedi_language_server/text_edit_utils.py
Due: black, isort, pylint, mypy

Update changelog, bump version
  CHANGELOG.md
  pyproject.toml
Due: toml-sort

Change `cli` implementation from click to argparse
  jedi_language_server/cli.py
  mypy.ini
Due: black, isort, pylint, mypy

Remove click as a dependency
  pyproject.toml
Due: toml-sort

Update pygls dependency; several bugfixes, so protects user
  pyproject.toml
Due: toml-sort

Bump poetry.lock
  poetry.lock
Due: none

Test get_version from cli.py
  jedi_language_server/cli.py
  tests/test_cli.py
Due: black, isort, pylint, mypy

Remove importlib_metadata from mypy.ini
  mypy.ini
Due: none

Add link to article in readme
  README.md
Due: none

Add cli options for logging and tcp control
  jedi_language_server/cli.py
Due: black, isort, pylint, mypy

Update readme
  README.md
Due: none

Fix typo in readme
  README.md
Due: none

Configurable codeAction extraction names
  README.md
  jedi_language_server/initialization_options.py
  jedi_language_server/jedi_utils.py
  jedi_language_server/server.py
  tests/lsp_tests/test_refactoring.py
Due: black, isort, pylint, mypy

Remove explicit `None` for markup_kind_preferred
  jedi_language_server/initialization_options.py
Due: black, isort, pylint, mypy

Bump version / update changelog
  CHANGELOG.md
  pyproject.toml
Due: toml-sort

null initializationOption now accepted as valid
  jedi_language_server/server.py
Due: black, isort, pylint, mypy

Fix readme typo
  README.md
Due: none

Hardcode the accepted Python version shield
  README.md
Due: none

Prefer >= to + for version shield
  README.md
Due: none

Add more test helpers to session
  tests/lsp_test_client/session.py
Due: black, isort, pylint

Add hover tests
  tests/lsp_tests/test_hover.py
  tests/test_data/hover/hover_test1.py
  tests/test_data/hover/somemodule.py
Due: black, isort, pylint
