Repository pappasam/jedi-language-server: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, toml-sort, pylint, mypy

black:
  name: black
  entry: poetry run black --check --diff
  language: system

isort:
  name: isort
  entry: poetry run isort --check-only
  language: system

toml-sort:
  name: toml-sort
  entry: poetry run toml-sort --check
  language: system

pylint:
  name: PyLint
  entry: poetry run pylint
  language: system

mypy:
  name: Mypy
  entry: poetry run mypy
  language: system

No keyword-only arguments in snippet completion
  CHANGELOG.md
  jedi_language_server/jedi_utils.py
  pyproject.toml
Due: black, isort, toml-sort, pylint, mypy

Add maxSymbols configuration option
  README.md
  jedi_language_server/initialize_params_parser.py
  jedi_language_server/server.py
Due: black, isort, pylint, mypy

Update version / bump changelog
  CHANGELOG.md
  pyproject.toml
Due: toml-sort

symbols ignore folders configurable, maxSymbols name change
  jedi_language_server/constants.py
  jedi_language_server/initialize_params_parser.py
  jedi_language_server/server.py
Due: black, isort, pylint, mypy

Update version, readme, and changelog
  CHANGELOG.md
  README.md
  pyproject.toml
Due: toml-sort

Add note about using with VSCode to README
  README.md
Due: none

Apply the null removal monkeypatch, fixing most pygls bugs
  jedi_language_server/__init__.py
  tests/lsp_tests/test_completion.py
  tests/lsp_tests/test_rename.py
Due: black, isort, pylint, mypy

Bump version / changelog
  CHANGELOG.md
  pyproject.toml
Due: toml-sort

provide accurate version in VersionedTextDocumentIdentifier
  CHANGELOG.md
  jedi_language_server/server.py
  jedi_language_server/text_edit_utils.py
Due: black, isort, pylint, mypy

improved type annotations
  jedi_language_server/__init__.py
  jedi_language_server/cli.py
  jedi_language_server/initialize_params_parser.py
  jedi_language_server/jedi_utils.py
  jedi_language_server/pygls_utils.py
  jedi_language_server/server.py
  jedi_language_server/text_edit_utils.py
  poetry.lock
  pyproject.toml
Due: black, isort, toml-sort, pylint, mypy

Update poetry.lock
  poetry.lock
Due: none

Update changelog, bump version
  CHANGELOG.md
  pyproject.toml
Due: toml-sort

integrate with new pygls
  jedi_language_server/__init__.py
  jedi_language_server/initialize_params_parser.py
  jedi_language_server/jedi_utils.py
  jedi_language_server/pygls_type_overrides.py
  jedi_language_server/pygls_utils.py
  jedi_language_server/server.py
  jedi_language_server/text_edit_utils.py
  jedi_language_server/type_map.py
  poetry.lock
  pyproject.toml
  tests/lsp_tests/test_completion.py
  tests/test_initialize_params_parser.py
Due: black, isort, toml-sort, pylint, mypy

pygls has helpers for client capabilities
  jedi_language_server/initialize_options_parser.py
  jedi_language_server/initialize_params_parser.py
  jedi_language_server/jedi_utils.py
  jedi_language_server/server.py
  tests/test_initialize_options_parser.py
  tests/test_initialize_params_parser.py
Due: black, isort, pylint, mypy

use pydantic to parse initialization options
  jedi_language_server/initialization_options.py
  jedi_language_server/initialize_options_parser.py
  jedi_language_server/jedi_utils.py
  jedi_language_server/pygls_utils.py
  jedi_language_server/server.py
  mypy.ini
  poetry.lock
  pyproject.toml
  tests/test_initialize_options_parser.py
Due: black, isort, toml-sort, pylint, mypy

Satisfy pylint
  .pylintrc
  jedi_language_server/initialization_options.py
  jedi_language_server/server.py
Due: black, isort, pylint, mypy

Bump version, update changelog
  CHANGELOG.md
  pyproject.toml
Due: toml-sort

Add 3.6.1 note to readme
  README.md
Due: none

Explicit did_open, did_close, and did_save
  CHANGELOG.md
  jedi_language_server/server.py
Due: black, isort, pylint, mypy

Bump version explicitly
  pyproject.toml
Due: toml-sort

Bump changelog
  CHANGELOG.md
Due: none

Hover: move up markup selection for performance
  jedi_language_server/server.py
Due: black, isort, pylint, mypy

Add documentation to signature help
  jedi_language_server/server.py
Due: black, isort, pylint, mypy

Bump version, changelog
  CHANGELOG.md
  pyproject.toml
Due: toml-sort

Completion resolve provider now works again
  jedi_language_server/server.py
Due: black, isort, pylint, mypy

Add code action tests
  tests/lsp_test_client/lsp_run.py
  tests/lsp_test_client/session.py
  tests/lsp_test_client/utils.py
  tests/lsp_tests/test_refactoring.py
  tests/test_data/refactoring/code_action_test1.py
Due: black, isort, pylint

Fix formatting / pylint for code_action tests
  tests/lsp_test_client/lsp_run.py
  tests/lsp_test_client/session.py
  tests/lsp_test_client/utils.py
  tests/lsp_tests/test_refactoring.py
  tests/test_data/refactoring/code_action_test1.py
Due: black, isort, pylint

Add github push action
  .github/workflows/jls-push.yaml
Due: none

Change version to 3.6 from 3.6.1
  .github/workflows/jls-push.yaml
Due: none

Update to v2, matrixify the os
  .github/workflows/jls-push.yaml
Due: none

Rename "jls push" to "testing" for clarity
  .github/workflows/jls-push.yaml
Due: none

Rename jls-push.yaml to testing.yaml
  .github/workflows/testing.yaml
Due: none

Update comments for main run script
  .github/workflows/testing.yaml
Due: none

Add release action, to be tested on the next release
  .github/workflows/release.yaml
Due: none

Update so that testing only runs on main push
  .github/workflows/testing.yaml
Due: none

Fix readme wording (mainly for CI test)
  README.md
Due: none

Add status badge for GitHub actions testing
  README.md
Due: none

Add command line comment to readme
  README.md
Due: none

Path conditions:
  black: any of: \.py$
  isort: any of: \.py$
  toml-sort: any of: \.toml$
  pylint: any of: \.py$
  mypy: any of: \.py$, but not: ^tests/
