Repository pappasam/jedi-language-server: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, toml-sort, pylint, mypy

black:
  name: black
  entry: poetry run black --check --diff
  language: system

isort:
  name: isort
  entry: poetry run isort --check-only
  language: system

toml-sort:
  name: toml-sort
  entry: poetry run toml-sort --check
  language: system

pylint:
  name: PyLint
  entry: poetry run pylint
  language: system

mypy:
  name: Mypy
  entry: poetry run mypy
  language: system

Enable testing with 3.10
  .github/workflows/testing.yaml
Due: none

Add ignorePatterns option to filter completions with name regex
  README.md
  jedi_language_server/initialization_options.py
  jedi_language_server/server.py
Due: black, isort, pylint, mypy

Add comment explaining performance optimization
  jedi_language_server/server.py
Due: black, isort, pylint, mypy

Run poetry update
  poetry.lock
Due: none

Bump version, update changelog
  CHANGELOG.md
  pyproject.toml
Due: toml-sort

Nested classes in functions no longer raise error
  jedi_language_server/jedi_utils.py
Due: black, isort, pylint, mypy

Allow running tox test environments on macOS
  pyproject.toml
Due: toml-sort

Provide full signatures in CompletionItem.detail
  jedi_language_server/jedi_utils.py
  tests/lsp_tests/test_completion.py
Due: black, isort, pylint, mypy

Share code between hover and completion item
  jedi_language_server/jedi_utils.py
Due: black, isort, pylint, mypy

poetry update
  poetry.lock
Due: none

Update tests to reflect new hover docs
  tests/lsp_tests/test_completion.py
  tests/lsp_tests/test_hover.py
Due: black, isort, pylint

Make SignatureInformation consistent with others
  jedi_language_server/jedi_utils.py
  jedi_language_server/server.py
Due: black, isort, pylint, mypy

Update test for SignatureInformation
  tests/lsp_tests/test_signature.py
Due: black, isort, pylint

Fix typo in changelog
  CHANGELOG.md
Due: none

Align behavior between "format" and "test" Makefile targets
  pyproject.toml
Due: toml-sort

Re-baseline formatting across project via "make format"
  tests/test_data/refactoring/rename_module.py
Due: black, isort, pylint

Update rename module tests to account for project formatting
  tests/lsp_tests/test_refactoring.py
Due: black, isort, pylint

Standardize hover text and adjust signature accordingly
  jedi_language_server/jedi_utils.py
Due: black, isort, pylint, mypy

Fix tests
  tests/lsp_tests/test_hover.py
Due: black, isort, pylint

Dedup redundant type/kind info by simplifying full signature generation
  jedi_language_server/jedi_utils.py
Due: black, isort, pylint, mypy

Partially revert "Update tests to reflect new hover docs"
  tests/lsp_tests/test_hover.py
Due: black, isort, pylint

Slight fix for classes, and possibly functions, with no jedi signature
  jedi_language_server/jedi_utils.py
Due: black, isort, pylint, mypy

Test that classes without arguments contain parentheses in signature
  tests/lsp_tests/test_completion.py
  tests/test_data/completion/completion_test2.py
Due: black, isort, pylint

Handled cases where jedi.api.classes.Name has empty line/column.
  jedi_language_server/jedi_utils.py
  jedi_language_server/server.py
Due: black, isort, pylint, mypy

Automatic setup/cleanup in Makefile.
  .gitignore
  Makefile
Due: none

Added unit tests for highlight over __name__/__file__
  tests/lsp_tests/test_highlighting.py
  tests/test_data/highlighting/highlighting_test1.py
Due: black, isort, pylint

Sort completions by public, private, and dunder
  jedi_language_server/jedi_utils.py
Due: black, isort, pylint, mypy

Remove duplicate computations for performance
  jedi_language_server/jedi_utils.py
Due: black, isort, pylint, mypy

Fix completion tests
  tests/lsp_tests/test_completion.py
Due: black, isort, pylint

Ensure clients respect order returned by Jedi
  jedi_language_server/jedi_utils.py
  jedi_language_server/server.py
  tests/lsp_tests/test_completion.py
Due: black, isort, pylint, mypy

poetry update, fix linting error in tests
  poetry.lock
  tests/lsp_test_client/utils.py
Due: black, isort, pylint

Change logging level to avoid flooding terminal
  jedi_language_server/cli.py
Due: black, isort, pylint, mypy

Path conditions:
  black: any of: \.py$
  isort: any of: \.py$
  toml-sort: any of: \.toml$
  pylint: any of: \.py$
  mypy: any of: \.py$, but not: ^tests/
