Repository pappasam/jedi-language-server: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, toml-sort, pylint, mypy

black:
  name: black
  entry: poetry run black --check --diff
  language: system

isort:
  name: isort
  entry: poetry run isort --check-only
  language: system

toml-sort:
  name: toml-sort
  entry: poetry run toml-sort --check
  language: system

pylint:
  name: PyLint
  entry: poetry run pylint
  language: system

mypy:
  name: Mypy
  entry: poetry run mypy
  language: system

remove unnecessary workaround
  jedi_language_server/jedi_utils.py
  jedi_language_server/server.py
  poetry.lock
  pyproject.toml
Due: black, isort, toml-sort, pylint, mypy

reinstate diagnostics tests
  jedi_language_server/jedi_utils.py
  tests/lsp_tests/test_diagnostics.py
Due: black, isort, pylint, mypy

Update version, prepare release
  CHANGELOG.md
  poetry.lock
  pyproject.toml
Due: toml-sort

Fix readme, local tests, and poetry update
  Makefile
  README.md
  poetry.lock
Due: none

Add poetry badge to project
  README.md
Due: none

Clarify changes in 0.41 which may affect consumers
  CHANGELOG.md
Due: none

Migrate pydantic to cattrs
  jedi_language_server/initialization_options.py
  jedi_language_server/server.py
  mypy.ini
  poetry.lock
  pyproject.toml
  tests/lsp_tests/test_init_options.py
Due: black, isort, toml-sort, pylint, mypy

Bump required poetry to 1.6.1
  pyproject.toml
Due: toml-sort

Add testing of parsing the initialization options
  tests/test_initialization_options.py
Due: black, isort, pylint

Adapt the initialization options tests to cattrs parsing
  tests/test_initialization_options.py
Due: black, isort, pylint

Use dataclasses helpers since these types are all dataclasses
  jedi_language_server/initialization_options.py
Due: black, isort, pylint, mypy

Fix parsing & dumping of compiled patterns in initialization options
  jedi_language_server/initialization_options.py
Due: black, isort, pylint, mypy

Fix construction of local decorator on older Python
  jedi_language_server/initialization_options.py
Due: black, isort, pylint, mypy

Clean up dependencies, prepare release
  CHANGELOG.md
  Makefile
  poetry.lock
  pyproject.toml
Due: toml-sort

Update readme: Add configuration directly, move sections around
  README.md
Due: none

Remove unused options from docs
  README.md
Due: none

Update lockfile so it uses jedi 0.19.1
  poetry.lock
Due: none

pylint doesn't recognise light_dataclass
  jedi_language_server/initialization_options.py
Due: black, isort, pylint, mypy

pygls 1.1
  jedi_language_server/jedi_utils.py
  jedi_language_server/pygls_utils.py
  jedi_language_server/server.py
  jedi_language_server/text_edit_utils.py
  poetry.lock
  pyproject.toml
Due: black, isort, toml-sort, pylint, mypy

poetry update, remove unused `# type: ignore`
  jedi_language_server/jedi_utils.py
  jedi_language_server/pygls_utils.py
  jedi_language_server/text_edit_utils.py
  poetry.lock
Due: black, isort, pylint, mypy

python >= 3.8 is required
  Makefile
  jedi_language_server/__init__.py
Due: black, isort, pylint, mypy

Disparate dev tools -> ruff + nox
  .github/workflows/testing.yaml
  .pre-commit-config.yaml
  Makefile
  README.md
  jedi_language_server/initialization_options.py
  jedi_language_server/text_edit_utils.py
  noxfile.py
  poetry.lock
  pyproject.toml
  tests/lsp_test_client/session.py
  tests/lsp_tests/test_completion.py
  tests/lsp_tests/test_diagnostics.py
  tests/lsp_tests/test_document_symbol.py
  tests/lsp_tests/test_refactoring.py
  tests/lsp_tests/test_workspace_symbol.py
  tests/test_initialization_options.py
Due: black, isort, toml-sort, pylint, mypy

Remove pylint artifacts
  .pylintrc
  README.md
  jedi_language_server/initialization_options.py
  jedi_language_server/jedi_utils.py
  jedi_language_server/server.py
  jedi_language_server/text_edit_utils.py
  tests/lsp_test_client/defaults.py
  tests/lsp_test_client/session.py
  tests/lsp_test_client/utils.py
  tests/lsp_tests/test_completion.py
  tests/lsp_tests/test_document_symbol.py
  tests/lsp_tests/test_hover.py
  tests/test_data/hover/somemodule.py
Due: black, isort, pylint, mypy

Ensure that diagnostic position cannot be less than 0
  jedi_language_server/initialization_options.py
  jedi_language_server/jedi_utils.py
  poetry.lock
  pyproject.toml
Due: black, isort, toml-sort, pylint, mypy

Change union syntax for compatibility with older Python
  jedi_language_server/jedi_utils.py
Due: black, isort, pylint, mypy

Bump version, update changelog
  CHANGELOG.md
  pyproject.toml
Due: toml-sort

Update release publishing mechanism
  .github/workflows/release.yaml
Due: none

Simplify type annotation
  jedi_language_server/jedi_utils.py
Due: black, isort, pylint, mypy

Implement Go to Declaration.
  README.md
  jedi_language_server/server.py
  tests/lsp_test_client/session.py
  tests/lsp_tests/test_definition.py
Due: black, isort, pylint, mypy

Update dependencies, fix tests based on latest docstring-to-markdown
  mypy.ini
  poetry.lock
  pyproject.toml
  tests/lsp_tests/test_completion.py
  tests/lsp_tests/test_hover.py
  tests/lsp_tests/test_signature.py
Due: black, isort, toml-sort, pylint

Bump to version 0.41.3
  CHANGELOG.md
  pyproject.toml
Due: toml-sort

Added -v flag in README to match output
  README.md
Due: none

Added version specification
  poetry.lock
  pyproject.toml
Due: toml-sort

Fix https://github.com/pappasam/jedi-language-server/issues/302
  poetry.lock
  pyproject.toml
Due: toml-sort

Reformat files, fix linting
  jedi_language_server/__init__.py
  jedi_language_server/pygls_utils.py
  jedi_language_server/text_edit_utils.py
  tests/lsp_test_client/defaults.py
Due: black, isort, pylint, mypy

use workspace.ignoreFolders in references
  jedi_language_server/server.py
Due: black, isort, pylint, mypy

Fix formatting issue
  jedi_language_server/server.py
Due: black, isort, pylint, mypy

Revert "Fix formatting issue"
  jedi_language_server/server.py
Due: black, isort, pylint, mypy

Revert "use workspace.ignoreFolders in references"
  jedi_language_server/server.py
Due: black, isort, pylint, mypy

Path conditions:
  black: any of: \.py$
  isort: any of: \.py$
  toml-sort: any of: \.toml$
  pylint: any of: \.py$
  mypy: any of: \.py$, but not: ^tests/
