Repository pappasam/jedi-language-server: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, toml-sort, pylint, mypy

.pre-commit-config.yaml:

fail_fast: true
repos:
  - repo: local
    hooks:
    - id: black
      name: black
      entry: poetry run black --check --diff
      language: system
      types: [python]
  - repo: local
    hooks:
    - id: isort
      name: isort
      entry: poetry run isort --check-only
      language: system
      types: [python]
  - repo: local
    hooks:
    - id: toml-sort
      name: toml-sort
      entry: poetry run toml-sort --check
      language: system
      types: [toml]
  - repo: local
    hooks:
    - id: pylint
      name: PyLint
      entry: poetry run pylint
      language: system
      types: [python]
  - repo: local
    hooks:
    - id: mypy
      name: Mypy
      entry: poetry run mypy
      language: system
      types: [python]
      exclude: ^tests/

Update github workflows
  .github/workflows/release.yaml
  .github/workflows/testing.yaml
Due: none

poetry update
  poetry.lock
Due: none

Handle dictionary key completions consistently
  jedi_language_server/jedi_utils.py
Due: black, isort, pylint, mypy

Filter out `path` completion items & pass char_after_cursor
  jedi_language_server/server.py
Due: black, isort, pylint, mypy

Bump version, update changelog, fix pyproject keywords
  CHANGELOG.md
  pyproject.toml
Due: toml-sort

gha: setup-python@v2 -> @v4
  .github/workflows/release.yaml
  .github/workflows/testing.yaml
Due: none

gha: bump setup-python and checkout
  .github/workflows/release.yaml
  .github/workflows/testing.yaml
Due: none

Make gha consistent
  .github/workflows/release.yaml
  .github/workflows/testing.yaml
Due: none

Python support: drop 3.8, support 3.13
  .github/workflows/testing.yaml
  CHANGELOG.md
  poetry.lock
  pyproject.toml
Due: toml-sort

Fix typo in CHANGELOG
  CHANGELOG.md
Due: none

Update readme: 3.8 -> 3.9
  README.md
Due: none

Remove toml-sort from pre-commit
  .pre-commit-config.yaml
  CHANGELOG.md
  pyproject.toml
Due: toml-sort

Support notebooks
  jedi_language_server/jedi_utils.py
  jedi_language_server/notebook_utils.py
  jedi_language_server/server.py
  jedi_language_server/text_edit_utils.py
  tests/lsp_test_client/session.py
  tests/lsp_tests/test_completion.py
  tests/lsp_tests/test_definition.py
  tests/lsp_tests/test_diagnostics.py
  tests/lsp_tests/test_document_symbol.py
  tests/lsp_tests/test_highlighting.py
  tests/lsp_tests/test_hover.py
  tests/lsp_tests/test_refactoring.py
  tests/lsp_tests/test_references.py
  tests/lsp_tests/test_signature.py
  tests/lsp_tests/test_workspace_symbol.py
  tests/test_data/completion/completion_test1.ipynb
  tests/test_data/definition/definition_test1.ipynb
  tests/test_data/definition/definition_test2.ipynb
  tests/test_data/highlighting/highlighting_test1.ipynb
  tests/test_data/hover/hover_test1.ipynb
  tests/test_data/refactoring/code_action_test1.ipynb
  tests/test_data/refactoring/rename_package_test1/rename_test_main.ipynb
  tests/test_data/refactoring/rename_test1.ipynb
  tests/test_data/references/references_test1.ipynb
  tests/test_data/signature/signature_test1.ipynb
  tests/test_data/symbol/symbol_test1.ipynb
Due: black, isort, pylint, mypy

small inconsistencies
  jedi_language_server/text_edit_utils.py
  tests/lsp_tests/test_refactoring.py
Due: black, isort, pylint, mypy

skip on windows due to unrelated bug
  tests/lsp_tests/test_refactoring.py
Due: black, isort, pylint

wip refactor
  jedi_language_server/notebook_utils.py
  jedi_language_server/server.py
  jedi_language_server/server_ipynb.py
  jedi_language_server/server_utils.py
Due: black, isort, pylint, mypy

wip trying decorator idea
  jedi_language_server/notebook_utils.py
  jedi_language_server/server_ipynb.py
Due: black, isort, pylint, mypy

working
  jedi_language_server/notebook_utils.py
  jedi_language_server/server.py
  jedi_language_server/server_ipynb.py
  jedi_language_server/server_utils.py
Due: black, isort, pylint, mypy

set notebook server capabilities
  jedi_language_server/server.py
  tests/lsp_tests/test_initialize.py
Due: black, isort, pylint, mypy

respect diagnostic options
  jedi_language_server/server.py
Due: black, isort, pylint, mypy

fix decorator calling without server
  jedi_language_server/notebook_utils.py
Due: black, isort, pylint, mypy

wip: mypy passes
  jedi_language_server/notebook_utils.py
Due: black, isort, pylint, mypy

finalize typing
  jedi_language_server/notebook_utils.py
Due: black, isort, pylint, mypy

cleaning up
  jedi_language_server/notebook_utils.py
  jedi_language_server/text_edit_utils.py
Due: black, isort, pylint, mypy

limit concurrent diagnostics
  jedi_language_server/constants.py
  jedi_language_server/jedi_utils.py
  tests/test_debounce.py
Due: black, isort, pylint, mypy

simplify params arg
  jedi_language_server/notebook_utils.py
Due: black, isort, pylint, mypy

wrap release with try-finally
  jedi_language_server/jedi_utils.py
Due: black, isort, pylint, mypy

disable code actions for notebooks
  jedi_language_server/server.py
  tests/lsp_tests/test_refactoring.py
Due: black, isort, pylint, mypy

poetry update, docs update, bump version, update changelog
  CHANGELOG.md
  README.md
  poetry.lock
  pyproject.toml
Due: toml-sort

Initial attempt at LSP based on https://github.com/python-lsp/python-lsp-server/pull/533
  jedi_language_server/constants.py
  jedi_language_server/server.py
  tests/lsp_test_client/session.py
  tests/lsp_tests/test_semantic_tokens.py
  tests/test_data/semantic_tokens/semantic_tokens_test1.py
  tests/test_data/semantic_tokens/semantic_tokens_test2.py
Due: black, isort, pylint, mypy

Fix SemanticTokensLegend
  jedi_language_server/constants.py
  jedi_language_server/server.py
Due: black, isort, pylint, mypy

Improve debug logging of semantic tokens
  jedi_language_server/server.py
Due: black, isort, pylint, mypy

Fix lint
  jedi_language_server/server.py
Due: black, isort, pylint, mypy

Announce actual used tokens in SUPPORTED_SEMANTIC_TYPES
  jedi_language_server/constants.py
Due: black, isort, pylint, mypy

Don't use walrus operator
  jedi_language_server/server.py
Due: black, isort, pylint, mypy

Fix f-string syntax error
  jedi_language_server/server.py
Due: black, isort, pylint, mypy

Fix semantic tokens test
  tests/lsp_tests/test_semantic_tokens.py
Due: black, isort, pylint

Use NamedTuple for semantic token
  jedi_language_server/server.py
Due: black, isort, pylint, mypy

Document semantic tokens, and disable by default
  README.md
  jedi_language_server/initialization_options.py
  jedi_language_server/server.py
  tests/lsp_tests/test_semantic_tokens.py
Due: black, isort, pylint, mypy

Semantic tokens: enabled by default
  README.md
  jedi_language_server/initialization_options.py
Due: black, isort, pylint, mypy
