Repository pappasam/jedi-language-server: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, toml-sort, pylint, mypy

.pre-commit-config.yaml:

fail_fast: true
repos:
  - repo: local
    hooks:
    - id: black
      name: black
      entry: poetry run black --check --diff
      language: system
      types: [python]
  - repo: local
    hooks:
    - id: isort
      name: isort
      entry: poetry run isort --check-only
      language: system
      types: [python]
  - repo: local
    hooks:
    - id: toml-sort
      name: toml-sort
      entry: poetry run toml-sort --check
      language: system
      types: [toml]
  - repo: local
    hooks:
    - id: pylint
      name: PyLint
      entry: poetry run pylint
      language: system
      types: [python]
  - repo: local
    hooks:
    - id: mypy
      name: Mypy
      entry: poetry run mypy
      language: system
      types: [python]
      exclude: ^tests/

Fix tests
  tests/lsp_tests/test_completion.py
  tests/lsp_tests/test_hover.py
  tests/lsp_tests/test_signature.py
Due: black, isort, pylint

Fix typo in test name, fix linting error too
  tests/lsp_tests/test_diagnostics.py
Due: black, isort, pylint

Sort pyproject.toml correctly
  CHANGELOG.md
  poetry.lock
  pyproject.toml
Due: toml-sort

Implement hover filtration
  jedi_language_server/initialization_options.py
  jedi_language_server/jedi_utils.py
  jedi_language_server/server.py
Due: black, isort, pylint, mypy

Change "Path" to "Full name" for consistency with Python docs
  jedi_language_server/jedi_utils.py
Due: black, isort, pylint, mypy

Simplify model for HoverIgnore + refactor hover_text parser
  jedi_language_server/initialization_options.py
  jedi_language_server/jedi_utils.py
Due: black, isort, pylint, mypy

Adjust interface to enable/disable
  README.md
  jedi_language_server/initialization_options.py
  jedi_language_server/jedi_utils.py
  jedi_language_server/server.py
Due: black, isort, pylint, mypy

Bump changelog / version, python >= 3.6.2
  CHANGELOG.md
  README.md
  poetry.lock
  pyproject.toml
Due: toml-sort

Remove unused union
  jedi_language_server/initialization_options.py
  jedi_language_server/jedi_utils.py
Due: black, isort, pylint, mypy

Fix hover tests to replace "Path" with "Full name"
  tests/lsp_tests/test_hover.py
Due: black, isort, pylint

Fix case of full_names (fullNames) in README
  README.md
Due: none

update dependencies
  jedi_language_server/server.py
  poetry.lock
  pyproject.toml
Due: black, isort, toml-sort, pylint, mypy

Handle Python 3.6+, update version / changelog
  CHANGELOG.md
  README.md
  poetry.lock
  pyproject.toml
Due: toml-sort

Actually update version to 0.33.0
  pyproject.toml
Due: toml-sort

Per @dimbleby, add example for interactive cli use
  README.md
  example-initialization-request.txt
Due: none

Add web socket support
  jedi_language_server/cli.py
Due: black, isort, pylint, mypy

Update cli docs / readme and make release
  CHANGELOG.md
  README.md
  jedi_language_server/cli.py
  pyproject.toml
Due: black, isort, toml-sort, pylint, mypy

Clear Diagnostics on TextDocument close.
  jedi_language_server/initialization_options.py
  jedi_language_server/server.py
Due: black, isort, pylint, mypy

remove did_close option.
  jedi_language_server/initialization_options.py
  jedi_language_server/server.py
Due: black, isort, pylint, mypy

Bump version, changelog, poetry update
  CHANGELOG.md
  poetry.lock
  pyproject.toml
Due: toml-sort

Fix hover at beginning of the line, update version
  CHANGELOG.md
  jedi_language_server/jedi_utils.py
  poetry.lock
  pyproject.toml
Due: black, isort, toml-sort, pylint, mypy

Jedi Names may have no module_path
  jedi_language_server/jedi_utils.py
  jedi_language_server/server.py
Due: black, isort, pylint, mypy

Handle case of empty docstring first
  jedi_language_server/jedi_utils.py
Due: black, isort, pylint, mypy

poetry update + fix pylint error in tests
  poetry.lock
  tests/lsp_test_client/utils.py
Due: black, isort, pylint

Bump version, update changelog
  CHANGELOG.md
  pyproject.toml
Due: toml-sort

review markups
  jedi_language_server/jedi_utils.py
  jedi_language_server/server.py
Due: black, isort, pylint, mypy

Add test for renaming module within package
  .pre-commit-config.yaml
  pyproject.toml
  tests/lsp_tests/test_refactoring.py
  tests/test_data/refactoring/rename_module.py
  tests/test_data/refactoring/somepackage/__init__.py
  tests/test_data/refactoring/somepackage/somemodule.py
Due: black, isort, toml-sort, pylint

Update github action to reflect new tests
  .github/workflows/testing.yaml
Due: none

Update name / blog link in readme
  README.md
Due: none

jedi.set_debug_function is now configurable
  README.md
  jedi_language_server/initialization_options.py
  jedi_language_server/jedi_utils.py
Due: black, isort, pylint, mypy

poetry update
  poetry.lock
Due: none

Debug function now prints to stderr, not stdout
  CHANGELOG.md
  jedi_language_server/jedi_utils.py
  pyproject.toml
Due: black, isort, toml-sort, pylint, mypy

Fix broken completion at the beginning of line
  jedi_language_server/jedi_utils.py
Due: black, isort, pylint, mypy

Fix #162 line_column returns a tuple instead of dict
  jedi_language_server/jedi_utils.py
  jedi_language_server/server.py
Due: black, isort, pylint, mypy

Fix formatting, linting, and type errors
  jedi_language_server/jedi_utils.py
  jedi_language_server/server.py
Due: black, isort, pylint, mypy

Special-case fix hover at beginning of the line
  jedi_language_server/server.py
Due: black, isort, pylint, mypy
