Repository pappasam/jedi-language-server: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, toml-sort, pylint, mypy

black:
  name: black
  entry: poetry run black --check --diff
  language: system

isort:
  name: isort
  entry: poetry run isort --check-only
  language: system

toml-sort:
  name: toml-sort
  entry: poetry run toml-sort --check
  language: system

pylint:
  name: PyLint
  entry: poetry run pylint
  language: system

mypy:
  name: Mypy
  entry: poetry run mypy
  language: system

Update changelog
  CHANGELOG.md
Due: none

add Emacs plugin reference
  README.md
Due: none

Consistent style in README
  README.md
Due: none

Completion sorting now sorts, sections, not labels
  jedi_language_server/jedi_utils.py
Due: black, isort, pylint, mypy

Replace symbol position functions with public ones
  jedi_language_server/jedi_utils.py
Due: black, isort, pylint, mypy

Completion: explicit insert_text_format=PlainText
  jedi_language_server/server.py
Due: black, isort, pylint, mypy

Update version in pyproject.toml
  pyproject.toml
Due: toml-sort

Add snippetSupport parser to initializeparamsparser
  jedi_language_server/initialize_params_parser.py
Due: black, isort, pylint, mypy

Properties in initializer are now cached_property
  jedi_language_server/initialize_params_parser.py
  mypy.ini
  poetry.lock
  pyproject.toml
Due: black, isort, toml-sort, pylint, mypy

Get basic snippets working
  jedi_language_server/jedi_utils.py
  jedi_language_server/pygls_utils.py
  jedi_language_server/server.py
Due: black, isort, pylint, mypy

Remove explicit getting cache. Jedi does this by default
  jedi_language_server/jedi_utils.py
Due: black, isort, pylint, mypy

Completion: insertText -> textEdit
  jedi_language_server/jedi_utils.py
  jedi_language_server/pygls_utils.py
  jedi_language_server/server.py
Due: black, isort, pylint, mypy

Fix completion textEdit edge cases.
  jedi_language_server/jedi_utils.py
  jedi_language_server/server.py
Due: black, isort, pylint, mypy

Simplify jedi type map
  jedi_language_server/type_map.py
Due: black, isort, pylint, mypy

Snippets can be disabled with initializationOption
  README.md
  jedi_language_server/initialize_params_parser.py
  jedi_language_server/jedi_utils.py
  jedi_language_server/server.py
Due: black, isort, pylint, mypy

Snippets now work for more function sig types
  jedi_language_server/jedi_utils.py
Due: black, isort, pylint, mypy

Finally get working correctly, for the most part
  jedi_language_server/jedi_utils.py
  jedi_language_server/server.py
Due: black, isort, pylint, mypy

Remove unused _definition_name_start_end_pos
  jedi_language_server/jedi_utils.py
Due: black, isort, pylint, mypy

No snippets returned for items in import context
  jedi_language_server/jedi_utils.py
  jedi_language_server/server.py
Due: black, isort, pylint, mypy

Bump version / changelog
  CHANGELOG.md
  pyproject.toml
Due: toml-sort

Completions: use InsertText, not TextEdit
  CHANGELOG.md
  jedi_language_server/jedi_utils.py
  jedi_language_server/server.py
Due: black, isort, pylint, mypy

Completion opto: add jedi option to auto import modules
  README.md
  jedi_language_server/initialize_params_parser.py
  jedi_language_server/jedi_utils.py
  jedi_language_server/server.py
Due: black, isort, pylint, mypy

Simplify snippet contents (types were too much)
  jedi_language_server/jedi_utils.py
Due: black, isort, pylint, mypy

Bump version / update changelog
  CHANGELOG.md
  pyproject.toml
Due: toml-sort

Clean up snippet edge cases
  jedi_language_server/jedi_utils.py
Due: black, isort, pylint, mypy

Don't use global server object in initializer
  jedi_language_server/server.py
Due: black, isort, pylint, mypy

Use jedi's rename and Refactoring capabilities
  jedi_language_server/server.py
  jedi_language_server/text_edit_utils.py
Due: black, isort, pylint, mypy

Handle replace, delete, and insert
  jedi_language_server/text_edit_utils.py
Due: black, isort, pylint, mypy

Support extract_var and extract_func
  jedi_language_server/jedi_utils.py
  jedi_language_server/server.py
  jedi_language_server/text_edit_utils.py
Due: black, isort, pylint, mypy

Bump version, update changelog
  CHANGELOG.md
  pyproject.toml
Due: toml-sort

Update readme
  README.md
Due: none

poetry update
  poetry.lock
Due: none

Use until_line and until_column arguments in extract refactor actions
  jedi_language_server/jedi_utils.py
  jedi_language_server/server.py
Due: black, isort, pylint, mypy

Add a plus one to the range
  jedi_language_server/jedi_utils.py
Due: black, isort, pylint, mypy

Code formatting
  jedi_language_server/__init__.py
  jedi_language_server/cli.py
  jedi_language_server/constants.py
  jedi_language_server/initialize_params_parser.py
  jedi_language_server/jedi_utils.py
  jedi_language_server/pygls_utils.py
  jedi_language_server/server.py
  jedi_language_server/text_edit_utils.py
  jedi_language_server/type_map.py
Due: black, isort, pylint, mypy

No inline for multiline range
  jedi_language_server/server.py
Due: black, isort, pylint, mypy

Bump version, changelog, poetry update
  CHANGELOG.md
  poetry.lock
  pyproject.toml
Due: toml-sort

jedi 0.17.1; performance/detail updates from new api
  CHANGELOG.md
  jedi_language_server/jedi_utils.py
  jedi_language_server/server.py
  poetry.lock
  pyproject.toml
Due: black, isort, toml-sort, pylint, mypy

Path conditions:
  black: any of: \.py$
  isort: any of: \.py$
  toml-sort: any of: \.toml$
  pylint: any of: \.py$
  mypy: any of: \.py$, but not: ^tests/
