Repository pappasam/jedi-language-server: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, toml-sort, pylint, mypy

.pre-commit-config.yaml:

fail_fast: true
repos:
  - repo: local
    hooks:
    - id: black
      name: black
      entry: poetry run black --check --diff
      language: system
      types: [python]
  - repo: local
    hooks:
    - id: isort
      name: isort
      entry: poetry run isort --check-only
      language: system
      types: [python]
  - repo: local
    hooks:
    - id: toml-sort
      name: toml-sort
      entry: poetry run toml-sort --check
      language: system
      types: [toml]
  - repo: local
    hooks:
    - id: pylint
      name: PyLint
      entry: poetry run pylint
      language: system
      types: [python]
  - repo: local
    hooks:
    - id: mypy
      name: Mypy
      entry: poetry run mypy
      language: system
      types: [python]
      exclude: ^tests/

Add definition tests
  tests/lsp_tests/test_definition.py
  tests/test_data/definition/definition_test1.py
  tests/test_data/definition/somemodule.py
  tests/test_data/definition/somemodule2.py
Due: black, isort, pylint

Add signature tests
  tests/lsp_tests/test_signature.py
  tests/test_data/signature/signature_test1.py
Due: black, isort, pylint

Fix doc formatting
  tests/lsp_tests/test_definition.py
  tests/lsp_tests/test_hover.py
  tests/lsp_tests/test_signature.py
  tests/test_data/definition/definition_test1.py
  tests/test_data/definition/somemodule.py
  tests/test_data/definition/somemodule2.py
  tests/test_data/hover/hover_test1.py
  tests/test_data/hover/somemodule.py
  tests/test_data/signature/signature_test1.py
Due: black, isort, pylint

Fix isort
  tests/lsp_tests/test_signature.py
  tests/test_data/definition/definition_test1.py
Due: black, isort, pylint

Add coverage
  .github/workflows/testing.yaml
  pyproject.toml
Due: toml-sort

Fix tests after formatting and doc string cleanup
  tests/lsp_tests/test_definition.py
  tests/lsp_tests/test_hover.py
  tests/lsp_tests/test_signature.py
Due: black, isort, pylint

Add document symbol tests
  tests/lsp_tests/test_document_symbol.py
  tests/test_data/symbol/somemodule.py
  tests/test_data/symbol/somemodule2.py
  tests/test_data/symbol/symbol_test1.py
Due: black, isort, pylint

Add symbol request support
  tests/lsp_test_client/defaults.py
  tests/lsp_test_client/session.py
Due: black, isort, pylint

Add workspace tests
  tests/lsp_tests/test_document_symbol.py
  tests/lsp_tests/test_workspace_symbol.py
  tests/test_data/symbol/somemodule2.py
Due: black, isort, pylint

Require importlib-metadata for Python 3.6 and 3.7
  pyproject.toml
Due: toml-sort

poetry update
  poetry.lock
Due: none

Bump version, update changelog
  CHANGELOG.md
  pyproject.toml
Due: toml-sort

Add support for notifications in test client
  tests/lsp_test_client/defaults.py
  tests/lsp_test_client/session.py
Due: black, isort, pylint

Add publish diagnostics tests
  tests/lsp_test_client/utils.py
  tests/lsp_tests/test_disgnostics.py
  tests/test_data/diagnostics/diagnostics_test1_content_changes.json
  tests/test_data/diagnostics/diagnostics_test1_contents.txt
Due: black, isort, pylint

Ensure with coverage is set for coverage runs
  .github/workflows/testing.yaml
  pyproject.toml
Due: toml-sort

Try with custom env setting
  pyproject.toml
Due: toml-sort

Try coverage with windows
  .github/workflows/testing.yaml
Due: none

Split steps in testing yaml
  .github/workflows/testing.yaml
Due: none

Use python instead of the binary directly
  pyproject.toml
Due: toml-sort

Separate linting and tests
  .github/workflows/testing.yaml
Due: none

Add highlighting tests
  tests/lsp_test_client/session.py
  tests/lsp_tests/test_highlighting.py
  tests/test_data/highlighting/highlighting_test1.py
Due: black, isort, pylint

Add references tests
  tests/lsp_test_client/session.py
  tests/lsp_tests/test_references.py
  tests/test_data/references/references_test1.py
Due: black, isort, pylint

Fix initializationOptions paths
  README.md
Due: none

Add test addressing self in snippet completions
  tests/lsp_tests/test_completion.py
  tests/test_data/completion/completion_test_class_self.py
Due: black, isort, pylint

Tests for text document symbol without hierarchy
  tests/lsp_tests/test_document_symbol.py
Due: black, isort, pylint

Test for invalid initialization options
  tests/lsp_test_client/session.py
  tests/lsp_tests/test_init_options.py
Due: black, isort, pylint

Refactor notification handler
  tests/lsp_test_client/session.py
Due: black, isort, pylint

Add test for window log message on init
  tests/lsp_tests/test_init_options.py
Due: black, isort, pylint

Fix rename file and add test
  jedi_language_server/text_edit_utils.py
  poetry.lock
  tests/lsp_test_client/session.py
  tests/lsp_tests/test_refactoring.py
  tests/test_data/refactoring/rename_package_test1/old_name/__init__.py
  tests/test_data/refactoring/rename_package_test1/old_name/some_module.py
  tests/test_data/refactoring/rename_package_test1/rename_test_main.py
Due: black, isort, pylint, mypy

Bump version, update changelog
  CHANGELOG.md
  poetry.lock
  pyproject.toml
Due: toml-sort

Add additional information to hover text
  jedi_language_server/jedi_utils.py
  jedi_language_server/server.py
Due: black, isort, pylint, mypy

Fix tests completion
  tests/lsp_tests/test_completion.py
Due: black, isort, pylint

Fix test signature
  tests/lsp_tests/test_signature.py
Due: black, isort, pylint

Catch edge case for get_type_hint, and use italics
  jedi_language_server/jedi_utils.py
Due: black, isort, pylint, mypy

Update hover tests to match new format
  tests/lsp_tests/test_hover.py
Due: black, isort, pylint

Bump version, update changelog, poetry update
  CHANGELOG.md
  poetry.lock
  pyproject.toml
Due: toml-sort

Add Changelog and Issues URL to the package metadata
  pyproject.toml
Due: toml-sort

Catch Exception for get_type_hint, conditional markdown
  jedi_language_server/jedi_utils.py
Due: black, isort, pylint, mypy

Further prettifies / simplifies markdown
  jedi_language_server/jedi_utils.py
Due: black, isort, pylint, mypy
