Repository pappasam/jedi-language-server: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, toml-sort, pylint, mypy

black:
  name: black
  entry: poetry run black --check --diff
  language: system

isort:
  name: isort
  entry: poetry run isort --check-only
  language: system

toml-sort:
  name: toml-sort
  entry: poetry run toml-sort --check
  language: system

pylint:
  name: PyLint
  entry: poetry run pylint
  language: system

mypy:
  name: Mypy
  entry: poetry run mypy
  language: system

Minor formatting
  jedi_language_server/cli.py
Due: black, isort, pylint, mypy

poetry update
  poetry.lock
Due: none

Bump version, update changelog
  CHANGELOG.md
  pyproject.toml
Due: toml-sort

update link example configuration nvim lsp
  README.md
Due: none

Relax jedi version constration to ^0.18
  CHANGELOG.md
  poetry.lock
  pyproject.toml
Due: toml-sort

Implement textDocument/semanticTokens/full
  jedi_language_server/constants.py
  jedi_language_server/jedi_utils.py
  jedi_language_server/server.py
  tests/lsp_test_client/session.py
  tests/lsp_tests/test_semantic_tokens.py
  tests/test_data/semantic_tokens/semantic_tokens_test1.py
  tests/test_data/semantic_tokens/semantic_tokens_test2.py
Due: black, isort, pylint, mypy

Remove unused imports.
  jedi_language_server/jedi_utils.py
Due: black, isort, pylint, mypy

Fix code formatting.
  jedi_language_server/constants.py
  jedi_language_server/server.py
  tests/lsp_test_client/session.py
  tests/lsp_tests/test_semantic_tokens.py
Due: black, isort, pylint, mypy

Implement textDocument/semanticTokens/range
  jedi_language_server/server.py
  tests/lsp_test_client/session.py
  tests/lsp_tests/test_semantic_tokens.py
  tests/test_data/semantic_tokens/semantic_tokens_test2.py
Due: black, isort, pylint, mypy

Fix tests
  jedi_language_server/jedi_utils.py
  jedi_language_server/server.py
  tests/lsp_test_client/session.py
  tests/lsp_tests/test_semantic_tokens.py
  tests/test_data/semantic_tokens/semantic_tokens_test1.py
Due: black, isort, pylint, mypy

Update readme with new VS Code setting
  README.md
Due: none

Add eglot instructions
  README.md
Due: none

Drop support for Python 3.7
  .github/workflows/testing.yaml
  .pre-commit-config.yaml
  CHANGELOG.md
  poetry.lock
  pyproject.toml
Due: toml-sort

We dropped support for Python 3.6, NOT Python 3.7
  CHANGELOG.md
Due: none

Handle hover for property-decorated methods
  jedi_language_server/jedi_utils.py
Due: black, isort, pylint, mypy

Update changelog, fix changed -> removed
  CHANGELOG.md
Due: none

Poetry update
  poetry.lock
Due: none

Bump version to 0.36.0
  pyproject.toml
Due: toml-sort

Change unreleased to 0.36.0 in changelog
  CHANGELOG.md
Due: none

Update readme from 3.6 to 3.7
  README.md
Due: none

suggest poetry-core as build dep
  pyproject.toml
Due: toml-sort

import from correct module in build backend
  pyproject.toml
Due: toml-sort

update dependencies
  poetry.lock
  pyproject.toml
Due: toml-sort

dev-deps >=, poetry update
  poetry.lock
  pyproject.toml
Due: toml-sort

Update version to 0.36.1
  CHANGELOG.md
  pyproject.toml
Due: toml-sort

Remove eglot conf since upstream includes support
  README.md
Due: none

Add support for goto type definition
  jedi_language_server/server.py
Due: black, isort, pylint, mypy

Bump version / changelog, update docs
  CHANGELOG.md
  README.md
  pyproject.toml
Due: toml-sort

Add environmentPath init option, for Jedi environment_path
  jedi_language_server/initialization_options.py
  jedi_language_server/server.py
Due: black, isort, pylint, mypy

Use the right attribute name...
  jedi_language_server/server.py
Due: black, isort, pylint, mypy

Comply with line length limit
  jedi_language_server/server.py
Due: black, isort, pylint, mypy

Use older type hint syntax for older Pythons
  jedi_language_server/initialization_options.py
Due: black, isort, pylint, mypy

Support Python 3.11: pygls ^0.12.4
  .github/workflows/testing.yaml
  poetry.lock
  pyproject.toml
Due: toml-sort

pylint-disable: bad `no-member` for os on 3.11
  tests/lsp_test_client/defaults.py
  tests/lsp_test_client/session.py
  tests/lsp_test_client/utils.py
Due: black, isort, pylint

Release 0.38, with docs / minor modification
  CHANGELOG.md
  README.md
  jedi_language_server/initialization_options.py
  pyproject.toml
Due: black, isort, toml-sort, pylint, mypy

Update release script
  .github/workflows/release.yaml
Due: none

Further simplify the release script
  .github/workflows/release.yaml
Due: none

pygls 1.0.0a0
  jedi_language_server/initialization_options.py
  jedi_language_server/jedi_utils.py
  jedi_language_server/pygls_utils.py
  jedi_language_server/server.py
  jedi_language_server/text_edit_utils.py
  jedi_language_server/type_map.py
  mypy.ini
  poetry.lock
  pyproject.toml
  tests/lsp_test_client/session.py
  tests/lsp_tests/test_references.py
Due: black, isort, toml-sort, pylint, mypy

Path conditions:
  black: any of: \.py$
  isort: any of: \.py$
  toml-sort: any of: \.toml$
  pylint: any of: \.py$
  mypy: any of: \.py$, but not: ^tests/
